body{
     display: flex;
     flex-direction: column;
     align-items: center;
     align-content: center;
     justify-content: center;
     min-height: 100vh;
     margin: 0px;
}

html {
  scroll-behavior: smooth;
}

header {
    width: 100%;
}

nav a{
     color: #3F3F3F;
     font-size: 25px;
     font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-decoration: none;
}

nav a:hover {
    color: #524C4A;
    text-decoration: underline;
}
.barra-navegacion img{
    height: 100px;
}
.nav-bar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: #7A7A7A;
    background-color: #C6C6C6;
    border: 5px solid #555555;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
    padding: 20px 10px;
    position: fixed;
    z-index: 1;
    max-height: 30px;
    box-sizing: border-box;
}

#bar-buttons {
    display: flex;
    gap: 40px;
    justify-content: center;
    width: 40%;
}

#minecraft-bar-logo {
    height: 100px;
}

.top-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: 75%;
    margin-bottom: 30px;
}
.trailer-video {
    height: auto;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.9);
    transition: opacity 0.5s ease-in-out;
}

.contenedor,
.contenedor2,
.contenedor3,
#inicio,
#biomas,
#mobs {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.container,
.container2,
.container3 {
    /* personalizacion cajas de texto */
    background-color: #C6C6C6;
    border: 10px solid #6f6d6d;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    font-size: 19px;
    text-align: center;
    padding: 10px;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
    margin: 20px;
    max-width: 85%;
}

.pic1 {
    max-width: 50%;
}

#inicio,
#biomas,
#mobs {
    background-position: center;
    background-size: contain;
    background-repeat: repeat;
}

#inicio {
    background-image: url(./blog-images/coal-ore.jpg);
}

#biomas {
    background-image: url(./blog-images/iron-ore.jpg);
}

#mobs {
    background-image: url(./blog-images/diamond-ore.jpg);
}


a {
    color: #3F3F3F;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-decoration: none;
}
a:hover{
    color: #524C4A;
    text-decoration: underline;
}

/* Cards */
.card-container{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}


.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 300px;
  height: 180px;
  overflow: hidden; /* Oculta la info que se sale */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.card img {
    
  width: auto;
  height: 50%;
  object-fit: contain;
}

/* Estilos de la información oculta */
.card-info {
  font-size: 13px;
  position: absolute;
  bottom: -100%; /* hace que empiece fuera de vista la informacion*/
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  transition: bottom 0.4s ease; /* efecto del deslizamiento */
  box-sizing: border-box;
}

/* --- efecto hover --- */
.card:hover .card-info {
  bottom: 0; /* sube la info al pasar el mouse */
}

.card:hover {
  transform: translateY(-5px); /* salto de la tarjeta */
}

.text {
    border: double 3px black;
    background-color: #4b48488c;
    color: white;
}

/* biomes */

.biomes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.carousel-container {
    width: 500px;
    height: 400px;
    background-color: #e0e0e0;
    box-shadow: 0 2px 8px  rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    overflow: hidden;
    position: relative;
}

.carousels {
    width: 600%;
    height: 100%;
    display: flex;
    border: solid thin #7A7A7A;
}

.slider-section {
    width: calc(100% / 6);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.slider-section img {
    width: 95%;
    height: 75%;
    margin: 8px;
    object-fit: cover;
    border-radius: 15px;
}

.slider-section p {
    font-size: 14px;
    text-align: center;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 12px;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333dc;
    color: #fff;
}

.btn-left,
.btn-right{
    display: flex;
    position: absolute;
    top: 40%;
    font-size: 3rem;
    background-color: transparent;
    border-radius: 100%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #cecece;
    transform: translate(0,-50%);
    transition: .5s ease;
    user-select: none;
}

/* biomes text decoration */

.frozen-biomes {
    color: #79c7ff;
}

.cold-biomes {
    color: 	#2cbbce;
}

.exuberance-biomes {
    color: #EB6E23;
}

.end-biomes {
    color: #3d2856;
}

.warm-biomes {
    color: #E3CBA8;
}

.nether-biomes {
    color: #FF4500;
}

.ocean-biomes {
    color: #1D334A;
}

/* footer */
.footer{
    background-image: url(./blog-images/lava.jpg);
    width: 100%;
    height: 100px; 
     display: flex;
    justify-content: center; 
   
}
.footer .author{
    color: white;
    font-weight: 1000;

}

.footer .author {
    background-color: black;
    opacity: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}


/* MEDIA QUERIES */

/* smartphones and tablets */
@media screen and (max-width: 480px), screen and (max-width: 768px) {
    #bar-buttons nav a{
        font-size: 12px;
    }

    #bar-buttons{
        justify-content: flex-end;
        max-width: 100%;
    }

    #minecraft-bar-logo{
        object-fit: contain;
        max-width: 60px;
    }
    
    h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    a {
        font-size: 12px;
    }

    .text {
        padding: 8px;
        padding-top: 0;
    }


    /* inicio */
    .top-bg {
        margin-bottom: 6px;
    }

    .trailer-video {
        height: 520px;
    }

    /* biomes */
    .carousel-container {
        width: 170px;
        height: fit-content;
    }

    .slider-section {
        align-content: center;
        justify-content: center;
    }

    
    .slider-section img {
        height: 50%;
    }
    
    .slider-section p {
        font-size: 10px;
        padding: 5px;
    }
    
    .slider-section span {
        font-size: 15px;
    }
    
    .btn-left,
    .btn-right {
        font-size: 15px;
        top: 22%;
    }

    .btn-left {
        left: 2%;
    }

    .btn-right {
        right: 2%;
    }

    /* mobs */
    .card-container {
        padding: 5px;
    }
    
    .card {
        width: 115px;
    }

    .card img {
        width: 6rem;
    }

    .card-info {
        font-size: 10px;
        overflow: scroll;
    }

    .card-info h3 {
        font-size: 15px;
    }

    .card:hover {
        ::-webkit-scrollbar {
            display: none;
        }
    }
}