body{
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    width: 100%;    
    background: #7A7A7A;
    min-height: 100vh;
    
    
}

/* Clases */

nav a{
     color: #3F3F3F;
     font-size: 25px;
     font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-decoration: none;
}

nav a:hover {
    color: #524C4A;
    text-decoration: underline;
}
.barra-navegacion img{
    height: 100px;
}
.barra-navegacion{
    align-items: center;
    background: #7A7A7A;
    background-color: #C6C6C6;
    border: 5px solid #555555;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
    padding: 10px;
    height: 20px;                    /* code compressed */
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}



.contenedor, .contenedor2, .contenedor3{
    position: relative;
}

/* fondo debajo del parrafo */

.fondo1{
    width: 100%;
}

/* contenedor del parrafo */

.contenedor p{
    /* personalizacion de el texto como tal */
    font-size: 19px;
    position: absolute;
    top: 0;
    margin-left: 361px;
    width: 762px;
    height: 95%;
    text-align: center;

    /* personalizacion de caja de textos */
    background-color: #C6C6C6;
    border: 10px solid #6f6d6d;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    padding: 10px;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
}

.fondo-arriba{
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
.fondo-arriba1{
   height: 750px;
    width: 100%;
}

.resaltado {
    display: inline-block; /* Mantiene el flujo pero permite estilos */
    font-weight: bold;
    color: #000000;         /* Negro puro para que sea más "fuerte" */
    font-size: 26px;        /* Más grande para resaltar */
    width: 100%;
}
 
.contenedor2 img{
    height: 1150px;
}
.contenedor3 img{
    height: 1150px;
}
.contenedor2 p{
    /* personalizacion de el texto como tal */
    font-size: 19px;
    position: absolute;
    top: 0;
    margin-left: 361px;
    width: 762px;
    height: 95%;
    text-align: center;

    /* personalizacion de caja de textos */
    background-color: #C6C6C6;
    border: 10px solid #6f6d6d;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    padding: 10px;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
}
 .card-container{
    margin-top: -72.2rem;
    margin-left: 361px;
    width: 742px;
    height: 100%;
    position: relative;
    position: relative;


    background-color: #C6C6C6;
    border: 10px solid #6f6d6d;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    padding: 10px;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
}
a{
    color: #3F3F3F;
    font-size: 20px;
    font-family: "Russo One", sans-serif;
    font-weight: 1000;
    font-style: normal;
    text-decoration: none;
}
a:hover{
    color: #524C4A;
    text-decoration: underline;
}
/* Cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  display: flex;
  justify-content: center;
  position: relative;
  width: 230px;
  height: 180px;
  overflow: hidden; /* Oculta la info que se sale */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.card img {
    
  width: auto;
  height: 60%;
  object-fit: cover;
}

/* Estilos de la información oculta */
.card-info {
  position: absolute;
  bottom: -100%; /* hace que empiece fuera de vista la informacion*/
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  transition: bottom 0.4s ease; /* efecto del deslizamiento */
  box-sizing: border-box;
}

/* --- EFECTO HOVER --- */
.card:hover .card-info {
  bottom: 0; /* sube la info al pasar el mouse */
}

.card:hover {
  transform: translateY(-5px); /* salto de la tarjeta */
}




/* id */
/* BUTTONS OF THE NAVIGATION BAR
arranging and aligning the buttons */

#bar-buttons {
    display: flex;
    gap: 40px;
    align-items: center;
    width: 40%;
}





