body{
    margin: 0;
    padding: 0%;
    overflow-x: hidden;
    width: 100%;    
    background: #7A7A7A;
    min-height: 100vh;
    
    
}

/* Clases */

.barra-navegacion{
    background: #7A7A7A;
    width: 100%;
    height: 60px;
    
}
.barra-navegacion{
    background-color: #C6C6C6;
    border: 10px solid #555555;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    padding: 10px;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
}


/* .contenedor, .contenedor2{
    
    display: flex;            
    flex-direction: row;     
    justify-content: center;  
    height: 500px;
    gap: 800px;
    
} */
.contenedor{
    position: relative;
}

.contenedor p{
    /* personalizacion de el texto como tal */
    font-size: 19px;
    position: absolute;
    top: 0;
    margin-left: 361px;
    width: 762px;
    height: 100%;
    
    text-align: center;

    /* personalizacion de caja de textos */
    background-color: #C6C6C6;
    border: 10px solid #555555;
    color: #3F3F3F;
    font-family: 'VT323', monospace;
    padding: 10px;
    outline: none;
    box-shadow: inset -2px -2px 0px #8B8B8B, inset 2px 2px 0px #FFFFFF;
}

.fondo-arriba{
    margin-top: 0;
    display: flex;
    flex-direction: column;
}
.fondo-arriba1{
   height: 750px;
    width: 100%;
}

.resaltado {
    display: inline-block; /* Mantiene el flujo pero permite estilos */
    font-weight: bold;
    color: #000000;         /* Negro puro para que sea más "fuerte" */
    font-size: 26px;        /* Más grande para resaltar */
    width: 100%;
}
 








